.side button /* tabs */
    display: block
    background-color: inherit
    color: $text-color
    font-family: $main-font
    font-size: 1.6em
    line-height: 1.1em
    cursor: pointer
    border: none
    outline: none
    transition: 0.5s
    padding: 0

.main button /* project buttons*/
    background-color: inherit
    color: $text-color
    font-family: $main-font
    font-size: 1.5em
    line-height: 1.1em
    cursor: pointer
    border: none
    outline: none
    
.main button:hover, .side button:hover
    color: #e6e4e4 
.main button:active, .side button:active
    color: gray

#work > button
    display: block

.bigScreenArrow, .smallScreenArrow
    display: none

.smallScreenArrow
    padding: 1em 0em 3em 0em

.projectContent button /* arrows*/
    font-size: 110%

.tabContent
    display: none
    animation: fadeEffect 1s
    height: inherit
    text-align: inherit
    background-color: inherit
    width: 100%

    grid-column-start: 1
    grid-column-end: 4

.active
    display: block

