.side button /* tabs */
    display: block
    background-color: inherit
    color: $text-color
    font-family: $main-font
    font-size: 150%
    line-height: 0.9em
    text-align: left
    cursor: pointer
    border: none
    outline: none
    transition: 0.5s
    padding: 0

.side button:hover
    color: #e6e4e4 

.side button.active //doesn't work
    color: gray 

.main button /* project buttons*/
    display: block
    background-color: inherit
    color: $text-color
    font-family: $main-font
    font-size: 140%
    line-height: 1.1em
    cursor: pointer
    border: none
    outline: none

.projectContent button /* arrows*/
    font-size: 110%

.tabContent
    display: none
    animation: fadeEffect 1s
    height: inherit
    text-align: inherit
    background-color: inherit
    width: 100%

    grid-column-start: 1
    grid-column-end: 4

.active
    display: block
