@font-face
    font-family: 'Crimson Text', serif
    src: url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap')

h1
    font-weight: normal
    font-size: 130%
    line-height: inherit

h2 
    font-weight: normal
    font-size: 105%
    line-height: inherit