//two-level navigation
@media screen and (max-width: 500px)
	.row .side
		grid-template-columns: repeat(3, min-content)
		grid-template-rows: 1fr 1fr
		grid-template-areas: "btn1 btn1 btn1" "btn2 btn3 btn4"
	#btn1
		grid-area: btn1
		text-align: left

@media screen and (max-width: 650px)
	body
		overflow: scroll
	body .row
		display: flex
		flex-direction: column
		padding: 1rem
	.side
		display: grid
		grid-template-columns: max-content auto auto auto
	.main
		overflow: hidden
		display: inline-block
		margin: 0

	h1, h2
		text-align: left
	.side button
		padding-right: 0.5rem
		line-height: 1.8rem
	.bigScreenArrow
		display: none
	.smallScreenArrow
		display: inline-block

	#work,
	#exhibition
		padding-top: 0.7rem
	.projectContent
		display: inline-block
		height: auto
		overflow: hidden
		text-align: center
	.text
		height: auto
		text-align: left
		padding: 0
	#about
		height: auto
		padding: 0

	.imgBox
		display: inline-block
		padding: 0
		overflow: hidden
		height: auto

	.imgBox > a img
		width: 32%
		height: auto

	#project1,
	#project2
	#exhibition1,
	#about
		padding-top: 1rem
		
@media screen and (min-width: 1200px)
	.row
		padding: 2rem 5rem 1rem 5rem