//phone screen
@media screen and (max-width: 450px)
    .side > button
        width: 100%
    .main button
        width: 100%
    .text, #about
        text-align: justify
        padding-bottom: 0em
    .poem
        text-align: center
    h1, h2
        text-align: center
    .onTop
        padding-top: 0.5em
    

//smaller window-size
@media screen and (max-width: 850px)
    body
        overflow-y: hidden
        overflow-x: hidden

    .row
        grid-template-areas: "side" "main"
        grid-template-columns: 1fr
        grid-template-rows: min-content min-content
        padding: 2em

    .main
        padding-top: 0.5em
    
    .projectContent
        grid-template-columns: 1fr
        grid-template-rows: repeat(2, max-content)
        grid-template-areas: "text" "images"
        height: calc(100vh - 170px) 
        overflow: scroll
        margin-top: 1em

    .text
        overflow: hidden
        height: auto
        padding: 0em
        
    
    #about
        grid-column-start: 1
        grid-column-end: 4
    
    .imgBox
        grid-area: images
        overflow: hidden
        width: 100%
        grid-template-columns: 1fr
        grid-auto-rows: 1fr
    
    .imgBox > img
        width: 100%
        height: 100%
        object-fit: cover
