@media screen and ( max-width:  700px)
    .row
        flex-direction: column
        height: auto
        width: 100%
    .side
        flex-basis: 100px
    .main
        flex-direction: column
    .columnText, .columnPhoto
        width: 100%
        text-align: left
        padding: 20px
    