@media screen and ( max-width:  800px)
    body
        overflow-y: auto

    .row
        flex-direction: column
        height: auto
        width: 100vw
        margin-left: -2%
        margin-top: 1%

    .side
        flex: auto
        width: 100vw
        margin: 2%
        
    .main
        flex: auto
        width: inherit
        margin: 2%
        margin-top: 0%

    .projectContent
        flex-direction: column
        width: inherit
    .text
        overflow-y: visible
        width: inherit
        margin: 2%
        margin-top: 0

    .imgBox
        flex: 1
        display: flex
        max-width: 567px
        padding: 2%
        margin: auto
        
        overflow: hidden

    .images img
        width: 180px
        height: 180px
        object-fit: cover
        vertical-align: middle
        padding: 0.5%  