body 
    padding: 0
    margin: 0
    height: 100vh
    width: 100vw
    overflow: hidden

    font-family: $main-font
    color: $text-color
    line-height: 0.8

.footer
    grid-area: footer
    font-size: 9px
    justify-self: end
    align-self: end