body 
    padding: 0
    margin: 0
    height: 100%
    overflow: hidden

    font-family: $main-font
    color: $text-color
    line-height: 0.8

footer
    position: relative
    width: 100%
    display: block
    text-align: right
    font-size: 8px
    margin-top: 10px
    max-width: 1490px
    margin-bottom: 10px
    padding-bottom: 10px

