* 
    box-sizing: border-box

.row
    display: flex
.side
    flex-basis: 160px
    min-width: 160px
    background-color: $background-color
.main
    float: auto

.projectContent
    display: flex
    flex-wrap: wrap

.text
    float: left
    flex-basis: 25%
    max-width: 25%
    height: 100%
    min-width: 150px

    overflow: scroll // doesnt workk
    -ms-overflow-style: none
    overflow: -moz-scrollbars-none
    font-size: 90%
    line-height: 1

.text::-webkit-scrollbar
    display: none

.images
    flex: 25%
    max-width: 25%

    img
        vertical-align: middle
        width: 100%

.main:after
    content: " "
    display: table
    clear: both
