* 
    box-sizing: border-box

.row
    display: flex
    height: 100%
    overflow: hidden
    margin: 30px
    margin-top: 30px

.side
    flex: 0 0 200px
    background-color: $background-color
    overflow: hidden

.main
    float: left
    display: flex
    height: 100%
    width: 100%
    overflow: hidden

.projectContent
    flex: 1
    display: flex
    flex-wrap: wrap
    height: 100%
    width: 100%
    overflow: hidden

.text
    float: left
    text-align: justify
    flex: 0 0 250px
    height: 100%
    padding-bottom: 5%

    overflow-y: scroll
    -ms-overflow-style: none
    overflow: -moz-scrollbars-none

    font-size: 90%
    line-height: 1

.text::-webkit-scrollbar
    display: none

.imgBox
    flex: 1
    display: flex
    max-width: 635px
    padding: 2%
    margin-right: auto
    
    overflow: hidden
 
.images
    flex-basis: 33%
    display: block

    img
        width: 200px
        height: 200px
        object-fit: cover
        vertical-align: middle
        padding: 0.5%


#about
    width: 200px

.main:after
    content: " "
    display: table
    clear: both
