.side button /* tabs */
    display: block
    background-color: inherit
    color: black
    font-family: $button-font
    font-size: 1.7em
    line-height: 1.4em
    cursor: pointer
    border: none
    outline: none
    transition: 0.5s
    padding: 0

.main button /* project buttons*/
    background-color: inherit
    color: $text-color
    font-family: $button-font
    font-size: 1.6em
    line-height: 1.8rem
    cursor: pointer
    border: none
    outline: none
    
.main button:hover, .side button:hover
    color: #e6e4e4 
.main button:active, .side button:active
    color: gray

#work > button
    display: block

.bigScreenArrow, .smallScreenArrow
    display: inline-block
    font: $button-font

.smallScreenArrow
    padding: 1em 0em 1em 0em
    display: none

.projectContent button /* arrows*/
    font-size: 1.4rem